
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Indie+Flower&display=swap');



body{background-color:#60c5ce;}


header{background-color: rgb(221, 81, 234);
display: flex;
justify-content: center;
justify-content: space-around;

}
h1{color: rgb(130, 16, 16);
;

  font-family: "Indie Flower", cursive;
  font-size: 500%;
  font-weight: 400;
  font-style: normal;
}

.redes{
    position: fixed;    
    right: 20px;           
    bottom: 1%;              
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;             
    z-index: 1000;
}

.redes img {
    width: 60px;           
    height: auto;
    border-radius: 60%;    
}

.redes img:hover {
    transform: scale(1.1);
}


.logo{width: 100px;
}
.red{color:rgb(79, 14, 14);}
.blue{color:rgb(108, 13, 13);}


h2{text-align: center;
font-size: 1.8em;
color: #660e0e;}

li{text-align: justify;
    
font-size: 15px;
color: #3f2b0a;}
aside{background-color: rgb(255, 127, 242);}






