@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Delicious+Handrawn&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Delicious+Handrawn&family=Indie+Flower&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');




body{background-color:#fff5e7;}


header{background-color: rgba(179, 129, 81, 0.87);
  display: flex;
  flex-direction: column;
  align-items: center;
}



nav{
    background-color: #e7c79b;
}
h1{color:#fff5e7;
 font-family: "Bebas Neue", sans-serif;
  font-size: 600%;
  font-style: normal;

  
}

.redes{
    position: fixed;    
    right: 20px;           
    bottom: 1%;              
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;             
    z-index: 1000;
}

.redes img {
    width: 50px;           
    height: auto;
    border-radius: 60%; 
       
}

.redes img:hover {
    transform: scale(1.1)}



.logo{height: 250px;
    width: auto;
    border-radius: 60%;
  
}
.red{color:rgb(79, 14, 14);}
.blue{color:rgb(108, 13, 13);}


h2{text-align: center;
font-size: 1.8em;
color: #660e0e;
font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}
ol{text-align: center;
font-size: 20px;
color: #3f2b0a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200 ;
  font-style: normal;
}
ul{
    text-align:center;
    font-size: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:200;
  font-style: normal;
}

.tarjetas{
    display: flex;
    justify-content: center;
    justify-content: space-around;
  
}

    



aside{background-color: rgb(255, 127, 242);}

footer{
    display: flex;
    justify-content: space-around;
    height: 300px;
    background-color: rgba(179, 129, 81, 0.87);
}
.botonf{
    width: 50 px;
    height:auto
}

